<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:app="http://cni.org.br/tags" xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core" xmlns:pe="http://primefaces.org/ui/extensions"  xml:lang="pt" lang="pt">
<c:set var="ctx" value="#{request.contextPath}" />
      
<h:head>
        <h:outputStylesheet library="css" name="css/bootstrap.css"/>
        <title>Web Template Application</title>
    </h:head>
    <h:body>
        <h:form>
            
            <h2>
                Hello!
            </h2>
            <p>
            <h:inputText
                    id="userName"
                    value="#{userBean.user.name}" >
                </h:inputText>
            
            	<p:commandButton value="List All" action="#{userBean.init()}" update="usersTable"/>
            
                <p:commandButton id="submit" value="Submit"
                                 action="#{userBean.saveUser(userBean.user)}"/>
            </p>
            
            <p:dataTable value="#{userBean.usersList}" var="user" id="usersTable">
            	<p:column headerText="Id" sortBy="#{user.id}">
					<h:outputText value="#{user.id}" />
				</p:column>
            	<p:column headerText="Name" sortBy="#{user.name}">
					<h:outputText value="#{user.name}" />
				</p:column>
            </p:dataTable>

        </h:form>
    </h:body>   
   </html>   